.users-form {
    background: #f9f9f9;
    display: block;
    margin: 0.5em;
    overflow: hidden;
    position: relative;
    width: auto;
    border-radius: 5px;
    padding: 40px;
    text-transform: uppercase;

    .help-block {
        text-transform: none;
        font-size: 12px;
        color: #d43f3f;
    }
}