$colors: (
        blue: $blue,
        indigo: $indigo,
        purple: $purple,
        pink: $pink,
        red: $red,
        orange: $orange,
        yellow: $yellow,
        green: $green,
        teal: $teal,
        cyan: $cyan,
        white: $white,
        white-smoke: #f3f5f6,
        gray: $gray-600,
        gray-light: #8ba2b5,
        gray-lightest: #f7f7f9,
        gray-dark: #3B3D3A
);

$theme-colors: (
  primary: #32ba45,
  secondary: #dfe8fb,
  success: #4CCEAC,
  info: #32ba45,
  warning: #FF6F59,
  danger: #DB504A,
  light: #f5f5f5,
  dark: #3B3D3A
);

$content-bg: #f9f9f9;
$footer-bg: $content-bg;
$footer-color: color(dark);
$border-color: #f5f5f5;

$social-colors: (
  twitter: #1da1f2,
  facebook: #3b579d,
  google: #dc4a38,
  linkedin: #0177b4,
  pinterest: #cc2127,
  youtube: #e52d27,
  github: #333333,
  behance: #1769ff,
  dribbble: #ea4c89,
  reddit: #ff4500
);
